/* Define custom properties in the :root selector */
:root {
    --header-bg-color: #f2f7f8;
    --section1-bg-color: #f2f7f8;
    --section2-bg-color: #f2f7f8;
    --section3-bg-color: #ececec;
    --text-color: #333;
    --font-family: 'Roboto', sans-serif;
    --max-width: 1200px;
    --padding: 20px;
}

/* General styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--section2-bg-color);
}

/* Container to center content */
main {
    width: 80%;
    max-width: var(--max-width);
    text-align: center;
}

/* Header styles */
header {
    background-color: var(--header-bg-color);
    padding: var(--padding);
    width: 100%;
}

/* Section 1 styles */
.section1 {
    background-color: var(--section1-bg-color);
    padding: var(--padding);
    margin-bottom: var(--padding);
}

.section1 h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section1 p {
    font-size: 1em;
    line-height: 1.5em;
}

/* Section 2 styles */
.section2 {
    background-color: var(--section2-bg-color);
    padding: var(--padding);
    margin-bottom: var(--padding);
}

.section2 p {
    font-size: 1em;
    line-height: 1.5em;
}

/* Section 3 styles */
.section3 {
    background-color: var(--section3-bg-color);
    /* color: #ffffff; */
    padding: var(--padding);
    margin-bottom: var(--padding);
}

.section3 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section3 p {
    font-size: 1em;
    line-height: 1.5em;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* General h3 styles */
h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Styles for color information */
p {
    margin: 10px 0;
}

h3+p {
    font-family: var(--font-family);
    font-size: 1em;
    color: var(--text-color);
}

footer {
    padding: 20px;
    background-color: var(--section3-bg-color);
    text-align: center;
    font-size: var(--secondary-font-size);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}