/* styles/siteplan.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f7f8;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.section1 {
    background-color: #f2f7f8;
    padding: 20px;
    margin-bottom: 20px;
}

.section2 {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.section3 {
    background-color: #727272;
    padding: 20px;
    color: #ffffff; /* Ensuring text is readable on dark background */
    margin-bottom: 20px;
}
