 :root {
    --footer-and-header-color : green;
    --light-green: rgb(183, 235, 183);
    --background-color: rgba(255, 190, 49, 0.884);
    --text-color: white;
    --font-family: "Roboto", sans-serif;
    --font-size: 1.2rem;
    --font-weight: 500;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);

}


h1 {
    font-size: 3rem;
    color: var(--text-color);
    width: 100%;

}


main {
    display: flex;
}

header {
    text-align: center;
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--footer-and-header-color);
    width: 100%;
    border-bottom: solid red 5px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: brown;
}

.hero img {
    width: 100%;
    height: auto;
}

.data-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

#icon {
    max-width: 30%;
}

footer {
    background-color: green;
    border-top: solid red 5px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
