@media screen and (min-width: 500px) {
    header {
        width: 100%;
        padding: 10px;
    }
    .data-card {
        position: absolute;
        top: 20vh;
        left: 3vw;
        border-top: none;
        font-size: medium;
        background-color: #f1f1f1;
        opacity: 0.8;
    }

    #icon {
        display: none;
    }

    .weather-card h2::after {
        content: " ⛅️";
    }

    .weather-card {
        position: absolute;
        bottom: 10vh;
        right: 7vw;
        border-top: none;
        font-size: medium;
        background-color: #F1F1F1;
        opacity: 0.8;
    }

   .weather-card h2, .data-card h2 {
        padding: 10px;
        position: relative;
        text-align: left;
        background-color: var(--light-green);
        width: 10rem;
    }
    .data-card h2 {
        right: 10vh;
    }
    .weather-card h2 {
        right: 7vh;
    }
}
