@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 20px;
  text-size-adjust: 200px;
}

.figures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  place-items: center;
  padding: 20px;
}

nav a {
  color: white;
}

figure {
  margin: 0;
}

figure img {
  max-width: 100%;
  height: auto;
  display: block;
  /* Ensure images don't have any extra space below */
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    color: white;
  }

  .hamburger {
    display: block;
  }

  .active {
    display: block;
  }
}

footer {
  background-color: #332;
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
